#project {
    display: none; /* Hide project section by default */
}

#skill{
    display: none;
}

#connect{
    display: none;
}
body {
    font-size: 20px;
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #222;
}

.container {
    width: 95%;
    margin: 0 auto;
}

/*Bio and connect container*/
.bio-connect-container {
    display: flex;
    flex-direction: column;
}

.bio-connect-container {
    flex: 1; /* Allow to grow */
}

/*Profile Container*/
.profile-container {
    flex-shrink: 0; /* Prevent the profile container from shrinking */
    flex: 0 0 auto; /* Don't grow or shrink */
    margin-right: 150px;
    margin-top: 30px;
}

.profile-container img {
    display: flex; /* Make the profile picture a block element */
    border-radius: 10%;
}



/*Bio Box*/
.bio-container {
    width: 750px; /* Adjust width as needed */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1.0s ease;
    font-size: 20px;
    margin-left: 50px; /* Adjust margin left to move the bio box more to the left */
}


.bio-container p {
    text-align: left;
}

.bio-container:hover {
    transition: transform 0.8s ease;
    transform: scale(1.05);
    box-shadow: 0 0 30px black;
}
/*Combined container*/
.bio-connect-profile-container {
    display: flex;
    align-items: center; /* Align items vertically */
}




/*Connect box*/
.connect-container {
    display: flex;
    justify-content: flex-start; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100px; /* Adjust height as needed */
    margin-left: 75px;  
}

.connect-box {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 25px whitesmoke;
    transition: transform 1.0s ease;
    /*border: 3px solid #222*/
    
}

.connect-box:hover {
    transform: scale(1.1);
    transition: transform 1.0s ease;


}
.connect-box a {
    text-decoration: none;
    color: #333;
}
.connect-container {
    margin-top: 0px; /* Adjust the top margin as needed */
}

/*Harold Symbol*/

#harold-symbol{
    float: left; /* Align the HL symbol to the left */
    margin-left: 20px;
    border-radius: 50%;
    

}

.text-3d {
    color: rgb(252, 255, 190);
    text-shadow: 0 0 10px whitesmoke;
    font-size: 35px;
    font-family: "Playfair Display";
    letter-spacing: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}


/*Navigation bar*/
nav {
    background-color: whitesmoke;
    padding: 10px 0;
    text-align: right; /* Align the text to the right */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; /* Align the text to the right */
}


nav ul li {
    display: inline;
    margin-left: 20px; /* Adjust margin left to create space between items */
}

nav ul li a {
    font-family: monospace;
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

nav ul li.highlight a {
    background-color: lightgreen;
    color: #333;
    border-radius: 40px;
}

section {
    padding: 20px 0;
}

footer {
    font-size: 15px;
    background-color: white;
    color: #333;
    padding: 10px 0;
    text-align: center;
}

#contact .container p a {
    display: inline-block; 
    margin-right: 20px;
}
/*Project box and container*/
#project .container h1, #project .container p{
    text-align: center; 
}

#project .container h1{
    font-size: 40px;
    text-shadow: white;
}


.project-boxes {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-top: 35px;
}

.project-box {
    width: 330px; 
    height: 200px; 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    word-wrap: break-word; 
    font-size: 15px;
}


.project-box:hover{
    transition: transform 0.8s ease;
    transform: scale(1.1);
    box-shadow: 0 0 20px black;
    border: 3px solid lightgoldenrodyellow;
   
}


.project-box h3 {
    margin-top: 0;
}

.project-box p {
    margin-bottom: 0;
}


/* Dark Mode Styles */
.dark-mode body {
    background-color: #222;
    color: whitesmoke;
}

.dark-mode footer {
    background-color: #333;
    color: whitesmoke;
}

.dark-mode nav {
    background-color: #222;
}

.dark-mode nav ul li a {
    color: whitesmoke;
}

.dark-mode nav ul li.highlight a {
    background-color: darkgreen;
}

.dark-mode section {
    background-color: #222;
    color: whitesmoke;
}

.dark-mode .bio-container {
    background-color: #222;
    color: whitesmoke;
}


#mode-icon {
    font-size: 24px;
    color: #FFD700; 
}

.dark-mode #mode-icon {
    color: #c0c0c0; }



/*Project1*/
#project1{
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/78/15/wind-turbin-icon-isolated-on-black-background-vector-29537815.jpg");
    background-size: cover;
    color: lightgoldenrodyellow; 
    text-decoration: none;
    text-shadow: lightgoldenrodyellow;

}

/*Project 2*/
#project2{
    background-image: url("https://png.pngtree.com/background/20230624/original/pngtree-futuristic-robot-arms-in-3d-render-on-black-background-picture-image_3991231.jpg");
    background-size: cover;
    color: lightgoldenrodyellow; 
    text-decoration: none;
    text-shadow: lightgoldenrodyellow
}

/*Project 3*/
#project3{
    background-image: url("https://www.shutterstock.com/image-illustration/3d-rendering-black-robotic-arm-260nw-1089898151.jpg");
    background-size: cover;
    color: lightgoldenrodyellow; 
    text-decoration: none;
    text-shadow: lightgoldenrodyellow
}
/*--End of Project section--*/
.contact-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;


}

.contact-image:hover {
    box-shadow: 0 0 10px white;
}

/*Contact icon*/

.contact-wrapper {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid lightgoldenrodyellow;
    
     /* Set your desired background color here */
}

.contact-wrapper:hover{
    box-shadow: 0 0 10px lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    
}

span{
    font-family: monospace;
    color: orange;
}

.typewriter h1{
    font-size: 40px;
}

.typewriter{
    margin-left:70px;
}



/* Apply animation to the content */
@keyframes slideInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
        background-color: transparent; /* Start with a transparent background */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
 
    }
}

.slide-up {
    animation: slideInUp 0.8s ease forwards;
    opacity: 0;
}


/*Connect box modify*/
.texting-container h2{
    font-size: 35px;
}
.texting-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Center items vertically */
    height: 100vh; /* Set container height to viewport height */
    border: solid #ccc;
    border-radius:30px;
    box-shadow: 10px;
    width: 700px;
    /*Center container*/
    margin: 0 auto;
    height:700px;
    margin-top: 50px;
    
}

#name-box input,
#email-box input,
#message-box textarea {
    width: 400px; /* Set a fixed width for all input fields and textarea */
    height: 40px; /* Keep the height consistent */
    margin-bottom: 20px; /* Add spacing between form groups */
    border-radius: 15px; /* Rounded corners for input fields */
    border: 2px solid #ccc; /* Add a border to input fields */
    padding: 10px; /* Add padding for better appearance */
    display: block; /* Ensure each input field and textarea takes up its own line */
    font-size: 17px;
    font-family: monospace;
}

#message-box textarea {
    height: 150px; /* Adjust height of the textarea */
    
}

#connect-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

#connect-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left within each form group */
}

#connect-form label {
    margin-bottom: 15px; /* Add right padding to create space between label and input */
    font-weight: bold; /* Optionally make labels bold */
    font-size: 16px; /* Optionally adjust font size */
}

/*Send button*/
button {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: monospace;
    width:160px;
    height:45px;
    background-color:lightgoldenrodyellow;
    color: #333;
    border: solid 2px black;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 0 25px whitesmoke;
}

button:hover {
    background-color: rgb(180, 180, 145);
}
/*My name*/
#myName{
    font-size: 20px;
    color: orange;
    text-shadow: 0 0 3px orange;

}

